* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px;
}

.content {
    margin-bottom: 20px;
}

.content-1 {
    width: 400px;
    height: 7px;
    border: 17px solid lightpink;
    background-color: grey;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
}

.trackPoint {
    height: 15px;
    width: 15px;
    background-color: blue;
    position: relative;
    z-index: 5;
}

.trackPoint:hover {
    cursor: pointer;
}

.aria {
    margin: 10px;
    border: 1px solid #000;
    width: 400px;
    height: 300px;
    position: relative;

}

.btn {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    opacity: 0;
    transition: opacity .3s;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 900;
    z-index: 20;
}

.btn:hover {
    opacity: 1;
    cursor: pointer;
}

.btn-left {
    left: 0;
}

.btn-right {
    right: 0;
}

.img {
    position: relative;
    z-index: -5;
    display: block;
    width: 400px;
    height: 300px;
}

.content-3 {
    padding: 10px;
    background-color: lightpink;
    width: 800px;
    min-height: 20px;
}

.block-details {
    width: 100%;
    min-height: 0;
    border: 1px solid #000;

}

.clsSummery::-webkit-details-marker {
    display: none
}

.clsSummery {
    border: 1px solid #000;
    color: #fff;
    background-color: cornflowerblue;
    font-weight: 600;
    padding: 5px;
}

.text {
    background-color: lightblue;
    padding: 5px;
}

.block-all-news {
    width: 1000px;
    height: 300px;
    background-color: lightblue;
    overflow: scroll;
    padding: 10px;
}

.title {
    margin: 20px 0;
    font-weight: 600;
    font-size: 21px;
}

.news-content {
    font-size: 18px;
}

.content-5 {
    background-color: linen;
    width: 500px;
    padding: 20px;
}

.indate {
    border: 1px solid #000;
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}

.month {
    margin-right: 30px;
}

.button {
    margin-top: 10px;
    width: 400px;
    clear: both;
}

.check-day {
    margin: 10px 0;
    padding: 10px;
}

.calendar {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 40px);
    grid-gap: 5px;
    text-align: center;
}

.dBlock {
    background: lightseagreen;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    line-height: 40px;

}

.dBlockGrey {
    background-color: lightgrey;
    border-radius: 5px;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    line-height: 40px;
}