*{
    margin: 0;
    padding: 0;
}
html,body{
    min-height: 100vh;
    width: 100vw;
}
.container{
    margin: 50px;
}
h2{
    margin-top: 20px;
}
.content-1{
    border: 1px solid #000;
    width: 500px;
    height: 70px;
    box-sizing: border-box;
    padding: 10px;
    background-color: lightpink;
}
.z1Title{
    width: 100%;
}
.tb-name{
    width: 100%;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
}
.modal{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    border: 1px solid #000;
    background-color: lightskyblue;
    border-radius: 15px;
    color: #000;
    font-weight: 700;
}
.modal:hover{
    cursor: pointer;
    background-color: dodgerblue;
}

.modalBlock{
    width: 400px;
    height: 150px;
    border: 1px solid #000;
    position: absolute;
    top: -30%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: lightgreen;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modalText{
    font-weight: 700;
    font-size: 18px;
}
.modalClose{
    margin-top: 30px;
    text-decoration: none;
    display: flex;
    width: 80%;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background: lightgrey;
    border-radius: 10px;
    color: #000;
    font-weight: 700;
}
.modalClose:hover{
    cursor: pointer;
    background-color: lightblue;
}
.darkWin{
    position: absolute;
    background-color: #000;
    opacity: .8;
    width: 100%;
    height: 100vh;
    z-index: 5;
    display: none;
    top: 0;
    left: 0;
}
.modalShow{
    display: flex;
    z-index: 10;
}
.field{
    position: relative;
    width: 1400px;
    height: 1030px;
    border: 1px solid #000;
    background-image: url(img/razmetka.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.ball{
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(img/ball.jpg);
    background-repeat: no-repeat;
    background-size: 115%;
    background-position: 50% 50%;
    transition: top .5s, left .5s;

}
.content-4{
    width: 450px;
    height: 100px;
    background-color: lightgoldenrodyellow;
    padding: 10px;
    box-sizing: border-box;
}
.trafficLights{
    border: 1px solid #000;
    border-radius: 5px;
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    float: left;
    margin-left: 10px;
}
.light{
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 50%;
}
.btnNext{
    height: 80px;
    width: 60px;
    background-color: darkgray;
    box-shadow: 1px 2px 3px black;
    float: right;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.btnNext:hover{
    cursor: pointer;
    background-color: dimgray;
}
.btnNext:active{
    box-shadow: none;
    line-height: 81px;
}
.lightGreen{
    background-color: green;
}
.lightYellow{
    background-color: yellow;
}
.lightRed{
    background-color: red;
}
.lightGrey{
    background-color: grey;
}
.content-5{
    background-color: lightpink;
    width: 600px;
    padding:20px 40px;
}
.item{
    cursor: pointer;
}
.checkItem{
    background-color: coral;
}
.content-6{
    width: 300px;
    height: 150px;
    background-color: lightcyan;
    padding: 20px;
}
.testBtn{
    margin-top: 50px;
    margin-left: 30px;
    position: relative;
    width: 100px;
    height: 40px;
    border: 1px solid #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rosybrown;
    color: #fff;
}
.testBtn:hover{
    cursor: pointer;
    background-color: saddlebrown;
}
.context{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -55px;
    width: 90px;
    height: 40px;
    background-color: rebeccapurple;
    color: #fff;
    font-weight: 500;
}
.triangleTop:before{
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent rebeccapurple transparent;
}
.triangleBottom:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: rebeccapurple transparent transparent transparent;
}